.DS_Store
*.log

/aleph-book-data/

aleph-books-ui/node_modules/
aleph-books-ui/dist/
aleph-books-ui/build/
aleph-books-ui/.env
aleph-books-ui/.env.local
aleph-books-ui/coverage/

aleph-books/target/
aleph-books/.mvn/wrapper/maven-wrapper.jar
aleph-books/**/*.class
aleph-books/.idea/
aleph-books/.vscode/
aleph-books/*.iml
aleph-books/.env
aleph-books/secrets.properties